numpy
pandas
matplotlib
seaborn
scikit-learn
joblib
tensorflow
optuna
Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Migrate
WTForms
email-validator
Werkzeug
SQLAlchemy
plotly
openpyxl
xlrd
python-dotenv
pytest
itsdangerous