<!doctype html>
<html lang="lt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Santuokų prognozavimas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Santuokų bylų prognozavimo sistema</h1>
        <nav>
            <a href="{{ url_for('index') }}">Pagrindinis</a> |
            <a href="{{ url_for('vartotojai.prisijungimas') }}">Prisijungti</a> |
            <a href="{{ url_for('vartotojai.registracija') }}">Registruotis</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p class="mb-0">&copy; {{ now.year }} Santuokų bylų prognozavimo sistema. Visos teisės saugomos.</p>
    </footer>
</body>
</html>
